html
	head
	title Expressjs-docs
	link(rel="stylesheet", href="/static/css/app.css")
	body
		div
		p Documentation from REST API.
		ul
			li
				a(href="http://localhost:3000/docs/books/list") GET / books
			li
				a(href="http://localhost:3000/docs/books/item") GET / books /: id
			li
				a(href="http://localhost:3000/docs/products/list") GET / products
			li
				a(href="http://localhost:3000/docs/products/item") GET / products /: id

