html
	head
	title Expressjs-docs
	link(rel="stylesheet", href="/static/css/app.css")
	body
		h1 REST API
		div.content
			div.item1
				p
				a(href="http://localhost:3000/docs/books/list") GET / books
				p
				a(href="http://localhost:3000/docs/books/item") GET / books /: id
				p
				a(href="http://localhost:3000/docs/products/list") GET / products
			div.item2
				h2 GET / products /: id
				p ENDPOINT
				p https://api.myownfancyproject.com/rest/v2/products/{id}
				p You can retrieve the primary information about a product.
				p REQUEST
				p Path Parameters:id
				p Example:
				p https://api.myownfancyproject.com/rest/v2/products/55
			div.item3
				h2 RESPONSE
				p=JSON.stringify(pItem.data)
